<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 부트스트랩 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css링크 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- 파비콘 (
"shortcut icon"은 IE와 호환, "icon"은 다른 브라우저와 호환됩니다.)-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- 홈페이지 제목 -->
    <title>오늘같은 날씨엔</title>

    <!-- 구글 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <style>
      .mypost {
        width: 95%;
        max-width: 500px;
        margin: 20px auto 20px auto;

        box-shadow: 0px 0px 3px 0px black;
        padding: 20px;
      }

      .mypost > button {
        margin-top: 15px;
      }

      .mycards {
        width: 95%;
        max-width: 500px;
        margin: auto;
      }

      .mycards > .card {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>
    <script>
      // 카테고리 상관없이 모든 foodlist 가져오기
      function show_order() {
        fetch("/cate-snowy-all")
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            // alert(data["msg"]);

            let rows = data["result"];
            console.log(rows);

            // ! 잠시 none
            $(".cards  ").empty();
            rows.forEach((a) => {
              console.log(a);
              let menu = a["menu"];
              let img = a["img"];
              let comment = a["comment"];
              let p_id = a["_id"];
              let weather = a["weather"];
              let weather_span = "";
              let weather_i = "";
              if (weather == 1) {
                weather_span = "sunny";
                weather_i = "sun";
              } else if (weather == 2) {
                weather_span = "cloudy";
                weather_i = "cloud";
              } else if (weather == 3) {
                weather_span = "rainy";
                weather_i = "umbrella";
              } else if (weather == 4) {
                weather_span = "snowy";
                weather_i = "snowflake";
              }

              console.log(
                weather,
                menu,
                comment,
                img,
                p_id,
                weather_span,
                weather_i
              );

              let temp_html = `
                    <div class="col" id="card">
                      <div class="card">
                        <span class="card-weather">
                          <i class="fa-solid fa-${weather_i}"></i>
                        </span>
                        <div class="card-img-wrap">
                          <img
                            src="${img}"
                            class="card-img"
                            alt="음식 대표사진" />
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">${menu}</h5>
                          <span class="card-foodtype">${comment}</span>
                          <p class="card-comment">오늘 추천하고 싶은 메뉴는 바로바로바로~~~!</p>
                          <p class="more" id=${p_id}><i class="fa-solid fa-plus"></i>더보기</p>
                        </div>
                      </div>
                    </div>
                      `;
              $("#cards").prepend(temp_html);
            });
          });
      }
    </script>
  </head>
  <body>
    <!-- header + post : 이지은 -->
    <!-- 좌측 nav 고정 -->
    <div class="nav">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo.png" alt="오날엔 로고" />
      </a>
      <div
        class="weather-nav"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check weather-btn main-view"
          name="weather"
          id="main-view"
          value="main-view"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary main-view" for="main-view">
          <a href="/">
            <img src="../static/images/smile.png" alt="전체보기" />
          </a>
        </label>

        <!-- * 아래 input tag에 onchange가 a tag 추가해서 필요는 없을 것 같은데.. 일단 안지운다. -->
        <input
          onchange="showByWeather(this.value)"
          type="radio"
          class="btn-check weather-btn sunny"
          name="weather"
          id="sunny"
          value="sunny"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary sunny" for="sunny">
          <a href="/cate-sunny">
            <i class="fa-solid fa-sun"></i>
          </a>
        </label>

        <input
          onchange="showByWeather(this.value)"
          type="radio"
          class="btn-check weather-btn cloudy"
          name="weather"
          id="cloudy"
          value="cloudy"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary cloudy" for="cloudy">
          <a href="/cate-cloudy">
            <i class="fa-solid fa-cloud"></i>
          </a>
        </label>

        <input
          onchange="showByWeather(this.value)"
          type="radio"
          class="btn-check weather-btn rainy"
          name="weather"
          id="rainy"
          value="rainy"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary rainy" for="rainy">
          <a href="/cate-rainy">
            <i class="fa-solid fa-umbrella"></i>
          </a>
        </label>

        <input
          onchange="showByWeather(this.value)"
          type="radio"
          class="btn-check weather-btn snowy"
          name="weather"
          id="snowy"
          value="snowy"
          autocomplete="off"
          checked
        />
        <label class="btn btn-outline-primary snowy" for="snowy">
          <a href="/cate-snowy">
            <i class="fa-solid fa-snowflake"></i>
          </a>
        </label>
      </div>
      <!-- 회원가입 아이콘 -->
      <a href="/login" class="user-nav">
        <i class="fa-solid fa-user-pen"></i>
      </a>
    </div>
    <div class="content-wrap">
      <!-- 헤더 -->
      <div class="main-header">
        <div class="title">
          <h1>
            오늘같은 날씨에 <br />
            어울리는 메뉴는 뭘까요?
          </h1>

          <div class="main-header-side">
            <!-- 날씨 API 테스트 -->
            <p class="myweather">
              <!-- <p>위치 : <span id="city"></span></p> -->
              <!-- <p>구름 : <span id="clouds"></span></p> -->
              <span>오늘 날씨 :</span>
              <img id="icon" src="http://openweathermap.org/img/w/02n.png" />
              <span><span id="temp"></span>°C</span>
            </p>
            <!-- 음식 추천하기 버튼 -->
            <div class="recommend-btn">
              <button class="btns" id="post-start">음식 추천하기</button>
            </div>
          </div>
        </div>
      </div>

      <main class="main-content">
        <!-- food-type 선택하기 -->
        <div
          class="food-nav"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="all-type"
              autocomplete="off"
              value="all_type"
              checked
            />
            <label class="btn btn-outline-primary all-type" for="all-type">
              <img src="../static/images/all-type.png" alt="음식전체분류" />
              <!-- <i class="fa-solid fa-sun"></i> -->
            </label>
            <p>전체</p>
          </div>

          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="korean"
              autocomplete="off"
              value="korean"
            />
            <label class="btn btn-outline-primary korean" for="korean">
              <img src="../static/images/korean.png" alt="한식" />
            </label>
            <p>한식</p>
          </div>
          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="western"
              autocomplete="off"
              value="western"
            />
            <label class="btn btn-outline-primary western" for="western">
              <img src="../static/images/western.png" alt="양식" />
            </label>
            <p>양식</p>
          </div>
          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="china"
              autocomplete="off"
              value="china"
            />
            <label class="btn btn-outline-primary china" for="china">
              <img src="../static/images/china.png" alt="중식" />
            </label>
            <p>중식</p>
          </div>
          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="japan"
              autocomplete="off"
              value="japan"
            />
            <label class="btn btn-outline-primary japan" for="japan">
              <img src="../static/images/japan.png" alt="일식" />
            </label>
            <p>일식</p>
          </div>
          <div>
            <input
              onchange="showByfoodtype('snowy', this.value)"
              type="radio"
              class="btn-check foodtype-btn"
              name="foodtype-nav"
              id="esc_type"
              autocomplete="off"
              value="esc_type"
            />
            <label class="btn btn-outline-primary esc" for="esc_type">
              <img src="../static/images/esc.png" alt="기타" />
            </label>
            <p>기타</p>
          </div>
        </div>
        <!-- 게시글 더미 -->
        <div id="cards" class="cards row row-cols-1 row-cols-md-4 g-4">
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
          <!-- 카드 한개 -->
          <div class="col" id="card">
            <div class="card">
              <span class="card-weather">
                <i class="fa-solid fa-sun"></i>
              </span>
              <div class="card-img-wrap">
                <img
                  src="https://i.namu.wiki/i/qFWfOHBd0mx7NmNquwtaSbUjnPumXpk5oi1jxNKpWUsv_eGJe44xm9AePkbhQ6hIxTjMtroFaOFPbhBy0MSbNQ.webp"
                  class="card-img"
                  alt="음식 대표사진"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">마라탕</h5>
                <span class="card-foodtype">중식</span>
                <p class="card-comment">
                  오늘 추천하고 싶은 메뉴는 바로바로바로~~~!
                </p>
                <p class="more"><i class="fa-solid fa-plus"></i>더보기</p>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- 포스트 박스 모달-->
      <div class="post-bg" id="post-box">
        <div class="post-box">
          <div class="post-container">
            <!-- ✅ form태그 내부가 posting box.. -->
            <!-- 날씨 선택하기 -->
            <div class="post-wrapper weatherwrap">
              <p>날씨를 선택해주세요:</p>
              <div class="post-select-weather" id="select-weather">
                <input
                  name="post-select-weather"
                  type="radio"
                  id="select-sun"
                  value="1"
                />
                <label for="select-sun">
                  <i
                    class="fa-solid fa-sun fa-2xl"
                    style="color: var(--main)"
                  ></i>
                </label>
                <input
                  name="post-select-weather"
                  type="radio"
                  id="select-cloud"
                  value="2"
                />
                <label for="select-cloud">
                  <i
                    class="fa-solid fa-cloud fa-2xl"
                    style="color: var(--cloudy)"
                  ></i>
                </label>
                <input
                  name="post-select-weather"
                  type="radio"
                  id="select-rainy"
                  value="3"
                />
                <label for="select-rainy">
                  <i
                    class="fa-solid fa-umbrella fa-2xl"
                    style="color: var(--rainy)"
                  ></i>
                </label>
                <input
                  name="post-select-weather"
                  type="radio"
                  id="select-snowy"
                  value="4"
                />
                <label for="select-snowy">
                  <i
                    class="fa-solid fa-snowflake fa-2xl"
                    style="color: var(--snowy)"
                  ></i>
                </label>
              </div>
            </div>
            <div class="post-wrapper foodtypewrap">
              <p>음식종류를 선택해주세요:</p>
              <div class="post-select foodtype-select" id="select-foodtype">
                <label for="select-alltype">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-alltype"
                    value="1"
                  />
                  <span>전체</span>
                </label>
                <label for="select-korea">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-korea"
                    value="2"
                  />
                  <span>한식</span>
                </label>
                <label for="select-western">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-western"
                    value="3"
                  />
                  <span>양식</span>
                </label>
                <label for="select-china">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-china"
                    value="4"
                  />
                  <span>중식</span>
                </label>
                <label for="select-japan">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-japan"
                    value="5"
                  />
                  <span>일식</span>
                </label>
                <label for="select-exctype">
                  <input
                    name="post-select-foodtype"
                    type="radio"
                    id="select-exctype"
                    value="6"
                  />
                  <span>기타</span>
                </label>
              </div>
            </div>
            <!-- 추천 메뉴명 적기 -->
            <div class="post-wrapper menuwrap">
              <p>추천하는 메뉴명 :</p>
              <textarea
                type="text"
                name="comment"
                id="menu_title"
                placeholder="메뉴명을 입력해주세요"
                required
              ></textarea>
            </div>
            <!-- 음식 사진 URL 첨부 :: 일부러 required 삭제함-->
            <div class="post-wrapper urlwrap">
              <p>음식 사진 URL:</p>
              <input
                type="pattern "
                name="url"
                id="food_img_url"
                placeholder="메뉴 이미지의 url을 입력해주세요"
                size="30"
              />
            </div>
            <!-- 코멘트 작성하기 -->
            <div class="post-wrapper post-comment">
              <p>간단한 코멘트 :</p>
              <textarea
                type="text"
                name="comment"
                id="comment"
                placeholder="ex : 오늘같은 날씨엔 냉면이 땡기네요~"
                maxlength="100"
                required
              ></textarea>
            </div>
            <!-- POST 버튼 -->
            <div class="post-btn">
              <button
                id="save"
                onclick="posting()"
                type="submit"
                class="btns"
                style="margin-right: 20px"
              >
                POST
              </button>
            </div>
            <!-- POST Close 버튼 -->
            <span class="close-btn" id="post-close">
              <i class="fa-solid fa-xmark fa-2xl"></i>
            </span>
          </div>
        </div>
      </div>

      <!-- 세부 게시물 모달 -->
      <!-- ! 💛 아래 세부게시물 잠시  style="display: none"로 안보이게 함. -->
      <div class="post-modal-wrap" style="display: none">
        <div class="post-modal-content">
          <div class="post-modal-img">
            <img
              src="https://recipe1.ezmember.co.kr/cache/recipe/2017/02/27/59ccdce3c03388a25dfd16e8f44e44491.jpg"
              alt="스파게티"
            />
          </div>
          <div class="post-modal-desc">
            <div class="post-modal-info">
              <div class="post-modal-title">
                <h2>스파게티</h2>
                <div class="post-modal-foodtype">양식</div>
              </div>
              <p class="post-modal-comment">
                오늘은 왠지 스파게티가 땡기네요~오늘은 왠지 스파게티가
                땡기네요~오늘은 왠지 스파게티가 땡기네요~오늘은 왠지 스파게티가
                땡기네요~오늘은 왠지 스파게티가 땡기네요~오늘은 왠지 스파게티가
                땡기네요~오늘은 왠지 스파게티가 땡기네요~
              </p>
              <br />
            </div>
            <!-- 댓글창 -->
            <div class="post-modal-comment-listbox">
              <p class="modal-comment-list" id="modal-comment-list">
                <span class="user-avatar">
                  <img src="../static/images/smile.png" alt="아이콘" />
                </span>
                <span class="user-name">닉네임</span>
                <span class="user-comment">넘 맛있어요!</span>
              </p>
            </div>
            <!-- 댓글달기 -->
            <div class="post-modal-minicomment">
              <form class="post-modal-minicomment-box">
                <input
                  class="username-input"
                  type="text"
                  id="username"
                  placeholder="닉네임"
                />
                <textarea
                  class="post-modal-commenttext"
                  placeholder="댓글 달기!"
                  id="post-modal-comment"
                ></textarea>
                <button
                  onclick="save_comment()"
                  type="button"
                  class="post-modal-btn btn btn-dark"
                >
                  게시
                </button>
              </form>
            </div>
          </div>
          <!-- POST-modal Close 버튼 -->
          <span class="post-modal-close-btn" id="post-modal-close">
            <i class="fa-solid fa-xmark fa-2xl"></i>
          </span>
        </div>
      </div>
    </div>
    <!-- js파일 링크 -->
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <!-- 아래 활성화하면 js가 두 번 돌아가서 껐습니다. -->
    <script src="../static/js/script.js"></script>
  </body>
</html>
